body{
    margin: 0;
    padding: 0;
    background-color: rgb(228, 116, 18);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: 100;
    color: white;
}

.container{
   font-weight: 800;
   text-align: center;
   width: 300px;
   position: relative;
}

.counter{
    font-size: 40px;
}

.loading-bar-back{
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(230, 230, 230, 0.7);
}

.loading-bar-front{
    position: absolute;
    width: 0;
    height: 8px;
    background-color: rgb(6, 6, 186);
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(230, 230, 230, 0.7);
}